.line-header {
  background-color: #d12200;
  width: 100%;
  height: 15px;
}

.photo-me {
  max-width: 300px;
  max-height: 300px;
}

.hello {
  font-size: 50px;
}

.im {
  font-size: 60px;
}

.im b {
 color: #d12200;
}

.about-me {
  font-size: 22px;
  color: #3d3d3d;
}

.email-contact {
  font-size: 16px;
  color: #d12200;
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons li a{
  margin-right: 5px;
  color: #d12200;
}
